.App {
  text-align: center;
}

.app-container {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.separator {
  width: 100%;
  /* border: 2px solid rgba(0, 0, 0, 0.15);
   */
  background-color: rgba(0, 0, 0, 0.15);
  height: 2px;
  margin: 10px auto;
}

.list-container {
  padding: 20px 0;
}

h1 {
  margin: 20px 0;
}

.card {
  width: 80%;
  min-width: 350px;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px 20px;
  margin: 0 auto;
  border-radius: 15px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

.contact-item-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.container-item {
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 10px 0;
}

.round {
  position: relative;
  display: inline-block;
  height: 24px;
  width: 24px;
}

.ml-1 {
  margin-left: 1em;
}

.mr-10 {
  margin-right: 10px;
}
